- content_for(:title) { "뉴스" }
.clearfix
  %h1.content-title.font-size-22.float-left.d-inline-block 뉴스
  - if user_signed_in?
    = link_to "새 게시물", new_activity_path, class: 'btn btn-rounded btn-primary float-right d-inline-block'