- content_for(:title) { "게시물 수정" }
.clearfix
  %h1.content-title.float-left.d-inline-block 게시물 수정
  = link_to "취소", activity_path, class: 'btn btn-rounded btn-default float-right d-inline-block'

= render 'form'
